Language: Cpp

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignOperands: true
AlignTrailingComments: true
AlignEscapedNewlines: Left
BinPackParameters: false
BinPackArguments: false
PointerAlignment: Right

AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Custom
BraceWrapping:
    AfterEnum: true
    AfterStruct: true
    AfterUnion: true
    AfterFunction: true
    AfterControlStatement: true
    BeforeElse: true
    AfterExternBlock: true
BreakBeforeTernaryOperators: true
ReflowComments: true

PenaltyBreakBeforeFirstCallParameter: 10000

SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

IncludeBlocks: Regroup
SortIncludes: true

IndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
IndentCaseLabels: true
IndentPPDirectives: AfterHash

KeepEmptyLinesAtTheStartOfBlocks: false
