[submodule "glib-helpers"]
	path = src/glib-helpers
	url = https://github.com/neimad/glib-helpers
[submodule "shared-cmake-modules"]
	path = cmake/shared-modules
	url = https://github.com/neimad/cmake-modules
